<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Firebird- Home Page</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css"/>

    <link rel="stylesheet" href="/css/font-awesome.min.css"/>

    <link rel="stylesheet" href="/css/styles.css"/>

    <link rel="stylesheet" href="/css/responsive.css"/>

</head>

<body>

<header>

    <div class="container-fluid">

        <nav class="navbar navbar-expand-lg navbar-light"><a class="navbar-brand" href="#"><img src="/images/logo.png"/></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> Menu
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">

                    <li class="nav-item active"><a class="nav-link menudatabar" href="/#features">Features </a></li>

                    <li class="nav-item"><a class="nav-link menudatabar" href="/whitepaper">Whitepaper</a></li>

                    <li class="nav-item"><a class="nav-link menudatabar" href="/#section-roadmap">Roadmap</a></li>

                    <li class="nav-item"><a class="nav-link menudatabar" href="/#section-team">Team</a></li>

                    <li class="nav-item"><a class="nav-link menudatabar" href="/#air-drop">Airdrip Claim</a></li>

                    <li class="nav-item"><a class="nav-link menudatabar" href="/#contact">Contact</a></li>

                    <li class="nav-item"><a class="nav-link login-button" href="#">Connect Your Wallet</a></li>

                </ul>

            </div>

        </nav>

    </div>

</header>

<button class="c-hamburger c-hamburger--htx"><span>toggle menu</span></button>

<nav class="sub-menu open">

    <ul class="list-unstyled">

        <div class="mobile-logo"><a href="#"><img src="/images/logo.png"/></a></div>

        <li><a href="/#features" class="menudatabar">Features </a></li>

        <li><a href="/whitepaper" class="menudatabar">Whitepaper</a></li>

        <li><a class="menudatabar" href="/#section-roadmap">Roadmap</a></li>

        <li><a class="menudatabar" href="/#section-team">Team</a></li>

        <li><a class="menudatabar" href="/#air-drop">Airdrip Claim</a></li>

        <li><a class="menudatabar" href="/#contact">Contact</a></li>

        <li><a class="menudatabar" href="#">Login</a></li>

    </ul>

</nav>