<% include ./header %>

<div class="hoverex-crypt-wrapper">

  <div class="container">

    <div class="row">

      <div class="col-12 col-sm-12">

        <div class="hoverex-crypt-block">

          <div class="title-block">

            <h2 class="title">Firebird ERC20 Deflationary Token ICO starts in:</h2>

          </div>

          <div class="time-count">

            <div id="defaultCountdown"></div>

          </div>

<!--          <div class="join-decentral-block">-->

<!--            <div class="join-block"><a href="#" class="join-pre-btn">Join ICO</a></div>-->

<!--            <div class="decentral-block"> A Decentralized Finance Ecosystem Powered With Firebird</div>-->

<!--          </div>-->

        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="exchange-main box-shadow">
          <form>
            <div class="row" style="display: flex;align-items: center;">
              <div class="col-md-12 text-center">
                <p>A Decentralized Finance Ecosystem Powered With Firebird</p>
              </div>
              <div class="col-md-6 col-sm-12">
                <div class="row">
                  <p class="col-md-12 color-pad number-empathy" id="exchange-logged-in" style="text-align: center;">Logged In : godsknight2</p>
                </div>

                <div class="row">
                  <p class="col-md-12 color-pad number-empathy" id="exchange-iost-balance" style="text-align: center;">ETH Balance : 10 ETH</p>
                </div>

                <div class="row">
                  <p class="col-md-12 color-pad number-empathy" id="exchange-iChip-balance" style="text-align: center;">XFB Balance : 1000 XFB</p>
                </div>
              </div>

              <div class="col-md-6 col-sm-12">
                <h4 class="exchange-main-box-title color-pad number-empathy">Buy XFB</h4>
                <div class="row text-center" id="statusBuyMsg">
                </div>
                <div class="row exchange-form-row">
                  <div class="col-md-12 col-sm-12 col-xs-12 exchange-form-row-div_start">
                    <div class="xfb-exchange-item exchange-item box-shadow wow fadeIn"
                         data-wow-delay=".2s">
                      <input type="number" id="pmineAmtBuy">
                      <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0)">
                          <span class="selected-coin2">XFB</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exchange-form-row">
                  <div class="col-md-12 col-sm-12 col-xs-12 exchange-form-row-div_start">
                    <div class="xfb-exchange-item exchange-item box-shadow wow fadeIn"
                         data-wow-delay=".3s">
                      <input type="number" id="iostAmtBuy">
                      <div class="dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0)">
                          <span class="selected-coin3">ETH</span>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row exchange-form-row">
                  <div class="col-md-12 col-sm-12 col-xs-12 exchange-form-row-div_center">
                    <div class="exchange-button wow fadeIn" data-wow-delay=".4s"
                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeIn;">
                      <a href="javascript:void(0)"
                         class="vc_general vc_btn3 btn btn-md vc_btn3-shape-rounded vc_btn3-style-default btn-primary"
                         id="buyBtn">Buy!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
          <div class="row">
            <div class="col-md-12">
              <div class="exchange-protect">
                <p class="color-pad number-empathy" id="iChip-token-msg">Smart contract holds a total of 10000 XFB tokens out of 10000. There are 0 XFB in circulation</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="current-rate-wrapper">

    <div class="current-rate-usd">

      <div class="current">

        <div class="title">Current Rate:</div>

        <div class="text">1 ETH = 1500 XFB</div>

      </div>

      <div class="usd">

        <div class="title">ETH raised:</div>

        <div class="text">250 ETH</div>

      </div>

    </div>

    <div class="progress-block">

      <div class="total-block">

        <div class="title">Total Raised:</div>

        <div class="hvr-no">19.245.798 XFB</div>

      </div>

      <div class="progress">

        <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
             aria-valuemax="100"></div>

      </div>

      <div class="indication">

        <div class="first">0 HVR</div>

        <div class="last">46.000.000 XFB</div>

      </div>

    </div>

  </div>

  <div class="social-block">

    <ul>

      <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>

      <li><a href="#"><i class="fa fa-btc" aria-hidden="true"></i></a></li>

    </ul>

  </div>

</div>

<div class="top-wrapper-bg">

  <div class="what-do-wrapper">

    <div class="container">

      <div class="what-do-block">

        <div class="title"><span>What is Firebird?</span></div>

        <div class="text"> A deflationary erc20 token with high liquidity, which means its price will only grow.
          Implemented the interesting burning curve to its deflating nature, by fully audited smart contracts.
          We at Firebird privide decentralized finance network where everyone can join freely and enjoy the
          trading aimed for high profit on Uniswap V2!
        </div>

        <div class="btn-block"><a href="#" class="whitepaper-btn">Whitepaper</a> <a href="#"
                                                                                    class="play-video-btn">Play
            Video</a></div>

      </div>

    </div>

  </div>

  <div class="eth-hvr-wrapper">

    <div class="container">

      <div class="percent-eth-block">

        <div class="percent"> 40%</div>

        <div class="line step-1">

          <div></div>

        </div>

        <div class="day-eth">

          <div class="day-week">Initial Liquidity Pool</div>

          <div class="eth-hvr">20Million Tokens</div>

        </div>

      </div>

      <div class="percent-eth-block">

        <div class="percent"> 30%</div>

        <div class="line step-2">

          <div></div>

        </div>

        <div class="day-eth">

          <div class="day-week">Uniswap Pool</div>

          <div class="eth-hvr">15Million Tokens</div>

        </div>

      </div>

      <div class="percent-eth-block">

        <div class="percent"> 16%</div>

        <div class="line step-3">

          <div></div>

        </div>

        <div class="day-eth">

          <div class="day-week">Marketing/Ecosystem Rewards</div>

          <div class="eth-hvr">8Million Tokens</div>

        </div>

      </div>

      <div class="percent-eth-block">

        <div class="percent"> 14%</div>

        <div class="line step-4">

          <div></div>

        </div>

        <div class="day-eth">

          <div class="day-week">Development & Mgmt Fee</div>

          <div class="eth-hvr">7Million Tokens</div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="feature-hoverex-wrapper" id="features">

  <div class="container">

    <div class="feature-hoverex-block">

      <div class="title"> Features of Firebird</div>

      <div class="text"> Perfectly functioning smart contacts to ensure transparency & decentralization, price
        competitiveness by its own burning curve feature
      </div>

    </div>

    <div class="lower-c2c-premium-wrapper">

      <div class="lower-c2c-premium-box lower">

        <div class="icon"><img src="/images/lower.jpg"/></div>

        <div class="title-text">

          <div class="title">It's Deflationary!</div>

          <div class="text">A decentralized ecosystem with burning its own tokens when the transaction occurs,
            by burning curve algorithm
          </div>

        </div>

        <!--<div class="btn-block"> <a href="#" class="read-more-btn">Read More</a> </div>-->

      </div>

      <div class="lower-c2c-premium-box lower">

        <div class="icon"><img src="/images/c2c.png"/></div>

        <div class="title-text">

          <div class="title">Benefits for All Hodlers</div>

          <div class="text">By pooling our resources and knowledge and being time efficient, we can be a
            benefit for our members without all the hassle involved. We have specific strategy to benefit
            all big and small hodlers in our own way.
          </div>

        </div>

        <!--<div class="btn-block"> <a href="#" class="read-more-btn">Read More</a> </div>-->

      </div>

      <div class="lower-c2c-premium-box lower">

        <div class="icon"><img src="/images/premium.png"/></div>

        <div class="title-text">

          <div class="title">Price Competitiveness</div>

          <div class="text">The XFB is designed to only grow, which would make it highly profitable from your
            daily trading.
          </div>

        </div>

        <!--<div class="btn-block"> <a href="#" class="read-more-btn">Read More</a> </div>-->

      </div>

    </div>

  </div>

</div>

<div class="supported-wrapper" id="air-drop">

  <div class="container">

    <div class="supported-block">

      <div class="title"> Claim Your Redistribution</div>

      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">
          <div class="claim-section">
            <form>
              <div class="row">
                <div class="col-md-12 text-center claim-header-text">
                  <p class="orange-color">The Amount to Claim : <span id="amountPerToClaim">0.00000000</span> XFB</p>

                  <p class="orange-color">Your Metamask Wallet : 0x1234567890324fg</p>
                </div>
              </div>

              <div class="text">Claim Redistribution</div>

              <a href="javascript:void(0)" class="btn btn-default claim-btn" id="claim-per">Claim</a>
            </form>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>

<div class="roadmap-wrapper" id="section-roadmap">

  <div class="container">

    <div class="roadmap-block">

      <div class="title">Roadmap</div>

      <div class="text">This timeline details our funding and development goals.</div>

      <div class="road-timeline">

        <ul class="roadmap-timeline-content">

          <li class="first">

            <div class="roadmap-timeline-box">

              <div class="title">October 2020</div>

              <div class="text">

                <p>Creation of the idea of Firebird project</p>

              </div>

            </div>

          </li>

          <li class="second">

            <div class="roadmap-timeline-box">

              <div class="title">November 2020</div>

              <div class="text">

                <p>The prototype of Firebird finished</p>

              </div>

            </div>

          </li>

          <li>

            <div class="roadmap-timeline-box">

              <div class="title">Q1.2021</div>

              <div class="text">

                <p>Start of ICO

              </div>

            </div>

          </li>

          <li>

            <div class="roadmap-timeline-box">

              <div class="title">Q1.2021</div>

              <div class="text">

                <p>Launch of Firebird

              </div>

            </div>

          </li>

          <li>

            <div class="roadmap-timeline-box">

              <div class="title">Q2.2021</div>

              <div class="text">

                <p>Launch of the education and information «Firebird» resource

              </div>

            </div>

          </li>

          <li>

            <div class="roadmap-timeline-box">

              <div class="title">Q3.2021</div>

              <div class="text">

                <p>Launch of cryptocurrencies converter

              </div>

            </div>

          </li>

          <li>

            <div class="roadmap-timeline-box">

              <div class="title">Q3.2021</div>

              <div class="text">

                <p>Launch of Firebird mobile version (IOS/Android)

              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </div>

</div>

<div class="hoverex-team-wrapper" id="section-team">

  <div class="container">

    <div class="hoverex-team-block">

      <div class="title">The Firebird Team</div>

      <div class="text">Let us introduce you to the team that will make it all happen.</div>

    </div>

    <div class="hoverex-team-box-row">

      <div class="hoverex-team-box">

        <div class="hoverex-imgg"><img src="/images/team.jpg"/></div>

        <div class="name">Mark Nichols</div>

        <div class="post">Co-Founder</div>

        <div class="btn-block"><a href="#" class="info-btn">Info</a></div>

      </div>

      <div class="hoverex-team-box">

        <div class="hoverex-imgg"><img src="/images/team.jpg"/></div>

        <div class="name">Edward Blankenship</div>

        <div class="post">Senior software engineer</div>

        <div class="btn-block"><a href="#" class="info-btn">Info</a></div>

      </div>

      <div class="hoverex-team-box">

        <div class="hoverex-imgg"><img src="/images/team.jpg"/></div>

        <div class="name">Richard Norman</div>

        <div class="post">Community Manager</div>

        <div class="btn-block"><a href="#" class="info-btn">Info</a></div>

      </div>

      <div class="hoverex-team-box">

        <div class="hoverex-imgg"><img src="/images/team.jpg"/></div>

        <div class="name">Paul Garrett</div>

        <div class="post">UI/UX designer</div>

        <div class="btn-block"><a href="#" class="info-btn">Info</a></div>

      </div>

    </div>

  </div>

</div>

<% include ./footer %>