<% include ./header %>

<div class="whitepaper-section">
    <div class="whitepaper-header text-center">
        <h1 class="whitepaper-header-title">Whitepaper</h1>
    </div>

    <div class="container whitepaper-container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="whitepaper-section-each-title">Introduction</h1>

                <p class="whitepaper-section-each-content">A deflationary erc20 token with high liquidity, which means its price will only grow. Implemented the
                    interesting burning curve to its deflating nature, by fully audited smart contracts. We at Firebird
                    privide decentralized finance network where everyone can join freely and enjoy the trading aimed for
                    high profit on Uniswap V2!</p>
            </div>
        </div>
    </div>
</div>


<% include ./footer %>